Checks: '-clang-analyzer-*,

         -bugprone-empty-catch,
         -bugprone-implicit-widening-of-multiplication-result,
         -bugprone-narrowing-conversions,
         -bugprone-use-after-move,
         
         -cert-err58-cpp,
          
         -cppcoreguidelines-avoid-c-arrays,
         -cppcoreguidelines-avoid-non-const-global-variables,
         -cppcoreguidelines-narrowing-conversions,
         -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
         -cppcoreguidelines-pro-bounds-constant-array-index,
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,
         -cppcoreguidelines-pro-type-reinterpret-cast,
         -cppcoreguidelines-special-member-functions,
      '

InheritParentConfig: true
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
...

