Checks: '-*,
         bugprone-*,
         cert-*,
         -clang-analyzer-*,
         cppcoreguidelines-*,
         -cppcoreguidelines-avoid-do-while,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-macro-to-enum,
         -cppcoreguidelines-macro-usage,
         -cppcoreguidelines-non-private-member-variables-in-classes,
         performance-*
      '

InheritParentConfig: true
...

