Checks: '-*,
         bugprone-*,
         cert-*,
         -clang-analyzer-*,
         cppcoreguidelines-*,
         -cppcoreguidelines-avoid-do-while,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-macro-usage,
         performance-*,
      '

InheritParentConfig: true
...

