Checks: '-*,
         bugprone-*,
         cert-*,
         cppcoreguidelines-*,
         -cppcoreguidelines-avoid-do-while,
         -cppcoreguidelines-avoid-magic-numbers,
         -clang-analyzer-*,
         performance-*,
         *-narrowing-conversions,
      '

InheritParentConfig: true
...

