Checks: '-*,
         performance*,
         -performance-enum-size,

         bugprone*,
         -bugprone-easily-swappable-parameters,

         cert-*,

         clang-analyzer-*
         
         cppcoreguidelines*,
         -cppcoreguidelines-avoid-do-while,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-macro-usage,
         -cppcoreguidelines-macro-to-enum,
         -cppcoreguidelines-non-private-member-variables-in-classes,

         -*-narrowing-conversions,

         -cppcoreguidelines-avoid-c-arrays,
         -cppcoreguidelines-init-variables,
         -cppcoreguidelines-prefer-member-initializer,
         -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
         -cppcoreguidelines-pro-bounds-constant-array-index,
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,
         -cppcoreguidelines-rvalue-reference-param-not-moved,
      '

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
CheckOptions:    
  - key:             bugprone-implicit-widening-of-multiplication-result.IgnoreConstantIntExpr
    value:           'true'
  - key:             cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value:           'true'
  - key:             cppcoreguidelines-virtual-class-destructor.IgnoreDestructors
    value:           'true'
  - key:             cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage
    value:           'true'
...

