Checks: '-*,
         performance*,
         -performance-enum-size,

         bugprone*,
         -bugprone-easily-swappable-parameters,

         cert-*,

         -clang-analyzer-*
         
         cppcoreguidelines*,
         -cppcoreguidelines-avoid-do-while,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-macro-usage,
         -cppcoreguidelines-macro-to-enum,
         -cppcoreguidelines-non-private-member-variables-in-classes,
         -cppcoreguidelines-special-member-functions,
      '

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
CheckOptions:    
  - key:             bugprone-implicit-widening-of-multiplication-result.IgnoreConstantIntExpr
    value:           'true'
  - key:             cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value:           'true'
  - key:             cppcoreguidelines-virtual-class-destructor.IgnoreDestructors
    value:           'true'
  - key:             cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage
    value:           'true'
...

