Checks: '-*,
         performance*,
         -performance-enum-size,

         bugprone*,
         -bugprone-easily-swappable-parameters,

         cert-*,

         -clang-analyzer-*
         
         cppcoreguidelines*,
         -cppcoreguidelines-avoid-const-or-ref-data-members,
         -cppcoreguidelines-avoid-do-while,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-avoid-non-const-global-variables,
         -cppcoreguidelines-init-variables,
         -cppcoreguidelines-macro-usage,
         -cppcoreguidelines-macro-to-enum,
         -cppcoreguidelines-non-private-member-variables-in-classes,
         -cppcoreguidelines-owning-memory,
         -cppcoreguidelines-pro-bounds-constant-array-index,
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,
         -cppcoreguidelines-pro-type-cstyle-cast,
         -cppcoreguidelines-pro-type-const-cast,
         -cppcoreguidelines-pro-type-reinterpret-cast,
         -cppcoreguidelines-rvalue-reference-param-not-moved,
         -cppcoreguidelines-special-member-functions,
      '

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
CheckOptions:    
  - key:             bugprone-implicit-widening-of-multiplication-result.IgnoreConstantIntExpr
    value:           'true'
  - key:             cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value:           'true'
  - key:             cppcoreguidelines-virtual-class-destructor.IgnoreDestructors
    value:           'true'
...

